#wp-mail-logging-modal-wrap {
  display: none;
}
#wp-mail-logging-modal-backdrop {
  background: none repeat scroll 0 0 #000000;
  bottom: 0;
  left: 0;
  min-height: 360px;
  opacity: 0.7;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 159900;
}
#wp-mail-logging-modal-content {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 650px;
  min-height: 300px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
}
#wp-mail-logging-modal-content-wrap {
  bottom: 30px;
  left: 30px;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 300010;
}
#wp-mail-logging-modal-content-header {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  left: 0;
  padding: 15px 10px 15px 10px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 26px;
}
#wp-mail-logging-modal-content-header-close {
  height: 30px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 25%;
  width: 30px;
  z-index: 1000;
}
#wp-mail-logging-modal-content-header-icon {
  float: left;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
#wp-mail-logging-modal-content-header-title {
  float: left;
  line-height: 30px;
  padding-left: 5px;
}
#wp-mail-logging-modal-content-header-format-switch {
  float: right;
  line-height: 30px;
  padding-right: 45px;
}
#wp-mail-logging-modal-content-body {
  bottom: 40px;
  left: 0;
  position: absolute;
  overflow: auto;
  right: 0;
  top: 60px;
}
#wp-mail-logging-modal-content-body-content {
  position: relative;
  padding: 15px;
}
#wp-mail-logging-modal-content-body .title {
  font-weight: bold;
  display: block;
}
#wp-mail-logging-modal-content-footer {
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
  bottom: 0;
  left: 0;
  padding: 15px 10px 15px 10px;
  position: absolute;
  right: 0;
  text-align: right;
}
#wp-mail-logging-modal-content-footer .wp-mail-logging-modal-close {
  margin-bottom: 0;
}
