<phpunit
    bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <php>
        <!-- Dirty hack to convince phpunit to use the right includes -->
        <env name="WP_TESTS_DIR" value="/srv/www/wordpress-develop/public_html/tests/phpunit/" force="true" />
    </php>
    <testsuites>
        <testsuite>
            <directory suffix=".php">tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <!--<blacklist>
            <directory>.</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>lib</directory>
            <directory>inc</directory>
        </blacklist>-->
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>tests</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-text" target="php://stdout" />
    </logging>
</phpunit>
