<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="AUTH_KEY" value="(m+%rCB/5}=M:#zR{dIffWo0CTCAM6KfEBuSf.bf^o+0jPJSJ_Li-b^vkFkX/0(q"/>
		<const name="SECURE_AUTH_KEY" value="uL)+/}vexI*^J{#I-~|NAlTd0`4oYM4f#uFU/Y?eJfl~L$;MR#WULP7D_lWz,_Wx"/>
	</php>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
    <groups>
        <exclude>
            <group>uninstall</group>
        </exclude>
    </groups>
	<logging>
		<!-- <log type="coverage-clover" target="build/logs/clover.xml"/> -->
	</logging>
</phpunit>

