<phpunit
    bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <testsuites>
        <testsuite>
            <directory suffix=".php">tests/phpunit/tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>150</integer>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    <logging>
        <!-- <log type="coverage-clover" target="build/logs/clover.xml"/> -->
    </logging>
</phpunit>
