// Color styles

$primary-text: #1D2327;
$secondary-text: #646970;
$description-text: #3C434A;
$orange: #E27730;
$orange-dark: #cb5836;
$positive: #38a17e;
$negative: #D63638;
$field-border: #8b8f93;
$field-text: #2C3338;
$label-text: #1E2327;
$link: #2171B1;
$link-hover: #135e96;
